table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
  

}

th,td{
    padding: 15px;
}

th{
    text-align: left;
}
table{
    border-spacing: 5px;
    width: 50%;
    position: relative;
    left: 80px;
}